body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #A9F7EF;
    min-height: 1000px;
    overflow-x: hidden;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background-color: #fdfdfd;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.logo-link {
    text-decoration: none; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100px;  
}

.site-name {
    color: #FF9649;
    font-size: 36px;
    font-weight: bold;
    margin-left: 15px;
}

.nav-links {
    display:flex;   
    gap:50px;
    list-style: none; 
}

.nav-links a {
    color: #1e1e1e;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    white-space: nowrap
}

.nav-links a:hover {
    color: #FF9649; 
}

@media (max-width: 950px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .navbar-logo {
        margin-bottom: 10px;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links a {
        padding: 10px 0;
        width: 100%;
        text-align: left;
    }
    .container{
        flex-direction: column;
    }
}

.contact-body {
    margin: 0;
    background-color: #A9F7EF;
    min-height: 800px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}

.circle {
    align-items: center;
    position: absolute; 
    right: -300px;
    top: 77%;
    width: 790px;
    height: 790px;
    background-color: #FF9649; 
    border-radius: 50%; 
    transform: translateY(-50%); 
    z-index: -1;
}
.main-img {
    position: absolute;
    top: 55%;
    left: 13%;
    transform: translate(-50%, -50%);
    width: 690px;
    height: 665px;
    z-index: 1;
    object-fit: cover;
}

.describtion{
    position: absolute;
    width: 580px;
    height: 260px;
}
h1{
    font-size: 36px; 
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.main-text{
    padding-top: 150px;
    padding-left: 85px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.text-after-header{
    position: relative;
    padding-top: 30;
    font-weight: 200;
    font-size: 24px; 
    width: 550px;
    height: 260px;
} 


.text-after-header::after {
    content: '';
    position: absolute;
    left: -100px;
    bottom: -65px;
    width: 1000px;
    height: 450px;
    background: linear-gradient(to right,#ffffff, rgba(255, 255, 255, 0));
    z-index: -1;
}

.buy-button{
    display: inline-block; 
    background: #FF9649;
    color: #fdfdfd;
    padding: 1rem 1.5rem; 
    width: 400px;
    height: 80px;
    font-size: 32px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 49px; 
    border: none;
    margin-top: 30px;
    margin-left: 0px;
}

.contact-page{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto auto;
    padding: 100px;
}

.contact{
    font-family: 'Inter',sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.contact-main-p{
    position: absolute;
    width: 580px;
    height: 260px;
}

.map{
    position: absolute;
    top: 55%;
    left: 13%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 665px;
    z-index: 0;
    object-fit: cover;
}

.contacts-text{
    font-size:24px;
    font-family: 'Inter';
    font-weight: 300;
    width: 618px;
    height: 510px;
}

.contact-page .circle {
    position: absolute; 
    right: -300px;
    top: 77%;
    width: 790px;
    height: 790px;
    background-color: #FF9649; 
    border-radius: 50%; 
    transform: translateY(-50%); 
    z-index: -1; 
}

.about-page{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto auto;
    padding: 100px;
}

.about1{
    font-family: 'Inter',sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.about2{
    font-family: 'Inter',sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.director-img{
    width: 483px;
    height: 322px;
    object-fit: cover;
    margin-top: 180px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
}

.about-text{
    font-size: 24px;
    font-weight: 300;
    width: 618px;
}


.director-text-container p{
    position: absolute;
    margin-top: 10px;
    top: 350px;
    left: -142px;
    font-size: 25px;
}

.about-page .circle {
    position: absolute; 
    right: -300px;
    top: 77%;
    width: 790px;
    height: 790px;
    background-color: #FF9649; 
    border-radius: 50%; 
    transform: translateY(-50%); 
    z-index: -1; 
}

.circle-left {
    position: absolute; 
    background-color: #FF9649; 
    border-radius: 50%; 
    transform: translateY(-50%); 
    z-index: -1; 
    width: 787px;
    height: 787px;
    left: -294px;
    right: 947px;
    top: 1129px;
    bottom: 630px;
}

.office-img{
    position: absolute;
    width: 420.99px;
    height: 533px;
    left: 100px;
    right: 919.01px;
    top: 714px;
    bottom: 1299px;
    border-radius: 22px;
}

.office-text h2{
    position: absolute;
    width: 547px;
    height: 88px;
    left: 607px;
    right: 286px;
    top: 820px;
    bottom: 1638px;
    font-size: 32px;
}

.office-text p{
    position: absolute;
    width: 565px;
    height: 116px;
    left: 607px;
    right: 268px;
    top: 908px;
    bottom: 1522px;
    font-size:24px;
    font-weight: 300;
}
.button-container {
    display: flex; 
    gap: 20px;
    margin-top: 30px; 
}

.buy-button2 {
    position: absolute;
    left: 607px;
    right: 433px;
    top: 1064px;
    bottom: 1402px;
    display: inline-block; 
    background: #FF9649;
    color: #fdfdfd;
    padding: 1rem 1.5rem; 
    width: 400px;
    height: 80px;
    font-size: 32px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 49px; 
    border: none;
}
.video h2{
    position: absolute;
    width: 547px;
    height: 88px;
    left: 107px;
    right: 786px;
    top: 1300px;
    bottom: 1158px;
    font-size: 32px;
}

.work-video{
    position: absolute;
    height: 600px;
    left: 653px;
    right: 237px;
    top: 1321px;
    bottom: 105px;
}
